
body {
}

h3 {
  font-family: sans-serif;
  padding-left: 5px;
  letter-spacing: 2px;
}

.btn-secondary {
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 10px;
  padding: 2px;
}

.badge {
  padding: 3px;
}

.btn-primary {
  font-family: "Andale Mono", monospace;
  padding-left: 100px;
  color: black;
  background-color: rgba(36, 158, 229, 1);
  font-size: 10px;
  padding: 6px;
}


div.tooltip_css {
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  border-radius: 6px;
  z-index: 10;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
}

.bubble {
  font-family: "Andale Mono", monospace;
  font-size: 10px;
  color: white;
}

.chosenCountry {
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 3px;

}

.axis{
  font-family: sans-serif;
  font-size: 9px;
  color: black;

}

.dropdown {
  margin-left: 16px;
}

.barvalue {
  font-family: "Andale Mono", monospace;
  font-size: 13px;
}
